.home-container, .timeup-parent-container, .not-found-parent-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #f4f4f4;
  }
  
  .login-container, .timeup-overlay, .not-found-overlay {
    background: white;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 60%;
    text-align: center;
  }
  
  .logo-title {
    display: flex;
    gap: 25px;
  }
  
  .logo-title .logo {
    width: 200px;
    height: auto;
  }
  
  .logo-title h1 {
    display: flex;
    align-items: center;
    vertical-align: middle;
    text-align: left;
    font-size: 30px;
    font-weight: bold;
    color: #333;
  }
  
  .login-container input {
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    border: 1px solid #ddd;
    border-radius: 8px;
    font-size: 14px;
  }
  
  .login-container button {
    width: 100%;
    padding: 12px;
    background-color: #715937;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s ease;
  }
  
  .login-container button:hover {
    background-color: #5e4a2f;
  }
  
  @media (max-width: 480px) {
    .login-container {
      width: 100%;
    }

    .logo-title {
      flex-direction: column;
      gap: 10px;
      margin-bottom: 10px;
    }

    .logo-title .logo {
      width: 170px;
    }

    .logo-title h1 {
      text-align: center;
      font-size: x-large;
    }
  }
  