.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #715937;
  color: white;
  padding: 15px;
}

.navbar .welcome {
  width: 33.3%;
}

.navbar .title {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 33.3%;
}

.navbar .logout-container {
  display: flex;
  align-items: center;
  justify-content: end;
  width: 33.3%;
}

.navbar .logout-container .logout-btn {
  width: 40%;
  background-color: red;
}

.navbar .logout-container .logout-btn:hover {
  background-color: rgb(255, 39, 39);
}

.saving-spinner {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  gap: 15px;
  text-align: center;
}

.saving-spinner p {
  font-size: medium;
}

.loading-spinner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  gap: 15px;
  text-align: center;
}

.loading-spinner p {
  font-size: medium;
}

.open-respondent-details-btn {
  background: none;
  border: none;
  color: #715937;
  cursor: pointer;
  padding: 0;
  text-align: left;
}

.open-respondent-details-btn:hover {
  background: none;
  text-decoration: underline;
}

.open-respondent-details-btn:focus {
  outline: none;
}

.reports-container {
  max-width: 100%;
  margin: auto;
  padding: 15px;
}

.reports-container .card {
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.visit-button {
  font-size: small;
  gap: 6px;
  color: #715937;
  background: none;
  padding: 0;
  width: auto;
  margin-top: 5px;
}

.visit-button:hover {
  background: none;
}

.copy-button, .refresh-button {
  font-size: small;
  color: #715937;
  background: none;
  padding: 0;
  width: auto;
  margin-top: 5px;
}

.copy-button:hover, .refresh-button:hover {
  background: none;
}

.card-title {
  text-align: left;
  width: auto;
  padding-left: 15px;
}

.forms-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 15px;
  font-size: 16px;
}

.forms-table th,
.forms-table td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: left;
}

.forms-table th {
  background-color: #715937;
  color: white;
  text-align: center;
}

.forms-table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.forms-table tr:hover {
  background-color: #ddd;
}

.forms-table a {
  color: #715937;
  text-decoration: none;
}

.forms-table a:hover {
  text-decoration: underline;
}

.card .card-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.card-mobile-header {
  display: flex;
  align-items: center;
  vertical-align: middle;
}

.respondent-counts {
  display: flex;
  gap: 20px;
  align-items: center;
  vertical-align: middle;
  padding: 10px;
}

.card-header button {
  width: 30%;
}

.bottom-navbar {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0px 0;
  z-index: 1000;
}

.bottom-navbar button {
  background: none;
  border: none;
  font-size: 14px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #333;
}

.bottom-navbar .logout-btn-navbar {
  color: red;
}

.bottom-navbar button:hover {
  color: #ffffff;
}

.bottom-navbar svg {
  width: 24px;
  height: 24px;
  margin-bottom: 3px;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  animation: fadeIn 0.3s ease-in-out;
}

.modal {
  background: white;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  width: 90%;
  height: auto;
  border-radius: 15px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  animation: slideUp 0.6s ease-in-out;
}

.modal.slide-down {
  animation: slideDown 0.6s ease-in-out; /* Apply slide-down animation */
}

@keyframes fadeIn {
  from {
    background-color: rgba(0, 0, 0, 0);
  }
  to {
    background-color: rgba(0, 0, 0, 0.5);
  }
}

@keyframes slideUp {
  from {
    transform: translateY(300%);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes slideDown {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(300%);
  }
}

.close-button-container {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}

.close-modal-btn {
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease;
  width: 100%;
}

.modal.delete, .modal.download {
  width: 600px;
}

.modal-buttons {
  gap: 15px;
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.modal-buttons .delete-btn {
  background: red;
  color: white;
  padding: 8px 15px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.modal-buttons .delete-btn:hover {
  background: rgb(202, 1, 1);
}

.modal-buttons .cancel-btn {
  background: gray;
  color: white;
  padding: 8px 15px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.modal-buttons .cancel-btn:hover {
  background: rgb(87, 87, 87);
}

.modal-buttons .confirm-btn {
  background: red;
  color: white;
  padding: 8px 15px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.modal-buttons .confirm-btn:hover {
  background: rgb(202, 1, 1);
}

.modal-buttons .go-back-button {
  background: gray;
  color: white;
  padding: 8px 15px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.modal-buttons .go-back-button:hover {
  background: rgb(87, 87, 87);
}

.modal-buttons .download-anyway-button {
  background: rgb(6, 175, 6);
  color: white;
  padding: 8px 15px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.modal-buttons .download-anyway-button:hover {
  background: rgb(4, 105, 4);
}

.respondents-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 15px;
  font-size: 16px;
}

.respondents-table a:hover {
  text-decoration: underline;
  cursor: pointer;
}

.respondents-table th,
.respondents-table td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: left;
}

.respondents-table th {
  background-color: #715937;
  color: white;
  text-align: center;
}

.respondents-table input {
  width: 100%;
  padding: 5px;
  font-size: 16px;
}

.respondents-table-add-respondents-btn-div {
  display: flex;
  flex-direction: row;
  gap: 10px;
  width: 100%;
}

.table-info .pagination {
  display: flex;
  gap: 10px;
  align-items: center;
  vertical-align: middle;
  justify-content: space-between;
}

.table-info .pagination button {
  padding: 15px;
  width: auto;
}

.table-info .pagination span {
  margin-top: 0;
}

.save-btn {
  background: #0ba847;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 5px;
}

.cancel-btn {
  background: red;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 5px;
}

.save-btn:hover {
  background: #0a7d37;
}

.cancel-btn:hover {
  background: darkred;
}

.expandable-row {
  cursor: pointer;
  transition: background 0.3s;
}

.expandable-row:hover {
  background: #f5f5f5;
}

.expanded-row td {
  background: #fafafa;
  padding: 10px;
}

.question-report {
  display: flex;
  justify-content: space-between;
}

.tabs {
  display: flex;
  gap: 8px;
  margin-bottom: 10px;
}

.tabs button {
  padding: 5px 10px;
  background: #715937;
  cursor: pointer;
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.1)
}

.tabs button.active {
  background: #2d2417;
  color: white;
}

.question-info {
  padding: 30px;
}

.chart-container {
  padding: 30px;
  display: flex;
  align-items: center;
}

.stimulus-img {
  height: 400px;
}

.filter-dropdown {
  display: block;
  margin-top: 5px;
  padding: 2px;
  font-size: 0.8rem;
  border-radius: 3px;
  border: 1px solid #ccc;
  width: 100%;
}

.table-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  padding: 0 10px;
}

.filter-summary {
  font-size: 1.1rem;
  color: #666;
}

.actions-div {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.actions-div.not-editing {
  margin-top: 0;
}

.actions-div.not-editing button {
  font-size: smaller;
}

.actions-div.not-editing .edit-btn.action-btn {
  color: #007bff;
}

.actions-div.not-editing .delete-btn.action-btn {
  color: red;
}

.actions-div button {
  padding: 0;
  background: transparent;
  width: 25px;
}

.actions-div button:hover {
  background: transparent;
}

.actions-div .save-btn.edit-btn {
  color: #007bff;
}

.actions-div .cancel-btn {
  color: red;
}

.response-page .respondent-details {
  display: flex;
  flex-direction: column;
  text-align: left;
  gap: 10px;
  width: 100%;
}

.response-page .respondent-details .left-side, .response-page .respondent-details .right-side {
  width: 100%;
}

.response-page .responses {
  overflow-y: auto;
  max-height: 40vh;
  width: 100%;
}

.response-page .response-table {
  width: 100%;
  border-collapse: separate; /* Ensure borders are distinct */
  border-spacing: 0; /* Remove spacing between cells */
  margin-top: 15px;
  font-size: 16px;
  border: 1px solid #ddd; /* Add an inside border around the table */
}

.response-page .response-table th, .response-page .response-table td {
  border: 1px solid #ddd; /* Add borders to table cells */
  padding: 10px; /* Add padding for better readability */
}

.response-page .response-table td:nth-child(odd) {
  max-width: 100px;
  word-wrap: break-word;
}

.response-page .response-details-container {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
}

.respondents-table input[type="text"] {
  font-size: smaller;
}

@media (max-width: 480px) {
  .open-respondent-details-btn {
    font-size: small;
  }

  .respondents-table {
    font-size: smaller;
  }

  .respondents-table span {
    font-size: smaller;
    display: flex;
    flex-direction: column;
  }

  .respondents-table span .actions-div.not-editing {
    margin-top: 10px;
  }

  .forms-table span {
    font-size: smaller;
  }

  body {
    height: auto;
  }

  .card:last-child {
    margin-bottom: 10vh;
  }

  .navbar .logout-container {
    display: none;
  }

  .navbar .welcome {
    font-size: medium;
    width: 70%;
  }

  .navbar .title {
    font-size: medium;
    width: 30%;
    justify-content: right;
  }

  .card-title {
    text-align: center;
    padding: 0px;
  }

  .forms-table {
    font-size: smaller;
  }

  .card .card-header {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .respondents-table input, .respondents-table select {
    font-size: small;
    margin: 5px 0;
  }

  .respondents-table-add-respondents-btn-div {
    margin-top: 5px;
  }

  .respondents-table-add-respondents-btn-div button {
    font-size: small;
    width: 100%;
  }

  .add-respondents-btn {
    margin-top: 10px;
    font-size: smaller;
    width: 100%;
  }

  .table-info .pagination button {
    padding: 10px;
  }

  .table-info .pagination span {
    font-size: small;
  }

  .card-mobile-header {
    flex-direction: column;
    gap: 10px;
  }

  .export-button, .get-random-form-link-btn {
    margin-top: 10px;
    font-size: smaller;
    width: 100%;
  }

  .respondent-counts {
    padding: 0;
  }

  .respondent-counts p {
    font-size: smaller;
    text-align: center;
  }

  .question-report {
    display: flex;
    flex-direction: column;
  }

  .question-report .chart-container {
    display: flex;
    padding: 0;
    align-self: center;
  }

  .stimulus-img {
    height: 250px;
  }

  .filter-summary {
    font-size: 0.7rem;
  }
}

@media (max-width: 768px) {
  .modal {
    max-height: 70vh;
  }

  .response-page .response-details-container {
    flex-direction: column;
    gap: 0;
  }

  .response-page .respondent-details {
    flex-direction: row;
    width: 100%;
  }

  .response-page .responses {
    overflow-y: auto;
    max-height: 30vh;
  }

  .response-page {
    font-size: smaller;
  }

  .response-page h2 {
    font-size: medium;
  }

  .close-button-container-mobile {
    position: absolute;
  }
}

@media (min-width: 768px) {
  body {
    height: auto;
  }

  .bottom-navbar {
    display: none;
  }
}

@media (min-width: 1000px) {
  .question-report {
    display: flex;
    justify-content: center;
  }
}